* {
    box-sizing: border-box;
}

body {
    display:block;
    margin: 0;
    background-color: #6F7E93;
}

.header {
    background-color: #2C2F3D;
    width: auto;
    height:100px;
    border-bottom: 2px solid #7A7768;
    ;
}
#Bobbi {
    color:#EAEEEB;
    font-family:'Merriweather', serif;
    padding:10px;
    margin-top:0px;
    margin-left: 100px;
    height:100px;
    width:250px;
    background-color: #685766;
    text-align: center;
    border-bottom: 2px solid #7A7768;
}

#menu {
    margin-top: 50px;
    margin-right: 100px;
    margin-left:100px;
    padding-left:0px;
    float: right;
    position: relative;
    bottom: 140px;
    right: 100px;
    height:50px;
    width:250px;
    background-color: #2C2F3D;
    text-align: center;
}
li {
    display:inline;
    list-style-type: none;
}
li a {
    color:#EAEEEB;
    font-family:'Merriweather Sans', sans-serif;
    text-decoration: none;
}
a:hover {
    color:#A1A7B6;
    text-decoration: none;
}
.pageTitle {
    width:960px;
    height:auto;
    background-color:#EAEEEB;
    margin-right:100px;
    margin-left:100px;
    margin-top:82px;
    margin-bottom:50px;
}
#aboutMe{
    font-family: 'Alegreya', serif;
    color: #2C2F3D;
    border-bottom: 2px solid #2C2F3D;
    text-align: left;
    margin-left:25px;
    margin-right:25px;
    padding-top:33px;
}
#content{
    display: flex;
}
#profilePic{
    margin:10px;
}
p{
    font-family: 'Alegreya Sans', sans-serif;
    color:#2C2F3D;
    margin:10px;
    line-height: 1.5;
}
.footer{
    margin: 0;
    background-color: #2C2F3D;
    width: auto;
    height:75px;
    border-top:5px solid #7A7768;
}
.cr{
    margin: 0;
    padding: 10px;
    text-align:center;
    color:#EAEEEB;
}
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#portfolio{
    font-family:'Roboto Slab', serif;
    color: #2C2F3D;
    border-bottom: 2px solid #2C2F3D;
    text-align: left;
    margin-left:25px;
    margin-right:25px;
    padding-top:33px;
}
.descBox{
    width:200px;
    height:33px;
    background-color:#2C2F3D;
    color:#EAEEEB;
    text-align:center;
    padding:10px;
    padding-top: 7px;
    position: relative;
    bottom:50px;
    font-family:'Roboto', sans-serif;
}
#contact{
    font-family: 'Quattrocento', serif;
    color: #2C2F3D;
    font-weight:bold;
    border-bottom: 2px solid #2C2F3D;
    text-align: left;
    margin-left:25px;
    margin-right:25px;
    padding-top:33px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #2C2F3D; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2C2F3D;
    color: #D8DBDB;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #685766;
}

.container {
    background-color:#EAEEEB;
    padding: 20px;
}
label{
    font-family: 'Quattrocento Sans', sans-serif;
    color:#333B44;
}

@media screen and (max-width: 980px) {

    .wrapper {
      width: 600px;
    }
  }
  
  @media screen and (max-width: 768px) {

    .wrapper {
      width: 600px;
    }
  }
  
  @media screen and (max-width: 640px) {

    .wrapper {
      width: 600px;
    }
  }
  
